<!-- <mat-sidenav #sidenav role="navigation"> -->
<!-- <mat-nav-list class="list-horizontal"> -->
    <a mat-list-item routerLink="/home">
        <mat-icon>home</mat-icon> <span class="nav-caption">לוח שנה</span>
    </a>
    <a mat-list-item routerLink="/owner">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">הגדרות</span>   
    </a>
    <a mat-list-item routerLink="#">
        <mat-icon>account_balance</mat-icon><span class="nav-caption">אודות</span>
    </a>
  <!-- </mat-nav-list> -->
<!-- </mat-sidenav> -->